 <!-- In Progress -->
 <app-library-row-medias @openClose *ngIf="inProgressTVShows.length > 0" [title]="'library.continueToWatch'" [medias]="inProgressTVShows"></app-library-row-medias>
   

 <!-- All TV Shows -->
 <div @openClose *ngIf="tvShows.length > 0" class="mb-4 mt-8">
     <div class="flex justify-between items-center mt-4 mb-2">
         <h3 class="text-xl font-bold w-full" translate="library.tvshows"></h3>
         <div>
             <button class="w-full text-center z-10 group relative whitespace-nowrap">     
                 {{ 'library.sortBy.sortBy' | translate}}<fa-icon [icon]="['fas', 'sort']" class="ml-2"></fa-icon>
                 <div class="floating-button-bottom-right pointer-group-button">
                     <div class="floating-list">
                         <button (click)="changeSort(sort.value)" [ngClass]="{'floating-button-active': currentSort == sort.value}"  *ngFor="let sort of sortby | keyvalue" class="floating-button" translate="">
                             library.sortBy.{{ sort.key }}
                         </button>          
                     </div>
                 </div>   
             </button>
         </div>
     </div>
     <div *ngIf="!isLoadingTVShows" @fastFadeAnimation class="flex flex-wrap mx-auto justify-center items-center mb-4">
         <div *ngFor="let tvShow of tvShows" class="w-1/3 sm:w-37">
             <app-mediacard class="w-full" [media]="tvShow"></app-mediacard>
         </div>
     </div>
     <div *ngIf="pageMovies.length > 1" class="flex justify-between sm:w-44 sm:ml-auto mt-4 mx-4">
         <button (click)="decrementPage()"><i [ngClass]="{'text-gray-500' : currentPage == 0}" class="fas fa-arrow-left"></i></button>
         <button class="custom-button group relative">
             {{ 'library.page' | translate}} {{ currentPage+1 }}
             <div class="floating-button-top-left pointer-group-button min-w-full">
                 <div class="floating-list floating-button-top">  
                     <button (click)="setPage(page)" *ngFor="let page of pageMovies" class="floating-button">
                         <p  class="text-sm">
                             {{ 'library.page' | translate}} {{ page+1 }}
                         </p>
                     </button>
                 </div>
             </div>
         </button>
         <button (click)="incrementPage()"><i [ngClass]="{'text-gray-500' : currentPage == pageMovies.length-1}" class="fas fa-arrow-right"></i></button>
     </div>
 </div>