<div (click)="clickBg($event)" class="w-screen h-screen z-20 float-left top-0 bottom-0 fixed sm:py-8 back bg-opacity-80 bg-dark-full">
    <div class="z-50 opacity-100 h-full relative m-auto overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-gray-400 sm:rounded-lg bg-dark-gray w-full sm:w-11/12 md:w-5/6 lg:w-4/6 xl:w-7/12 custom-modal">             
 
        <button  (click)="close()" class="close-button bg-dark-full z-20 w-12"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
        <div class="py-4 px-8 text-center items-center flex-col w-full h-full">
            
            <div class="flex flex-col items-center h-full w-full max-w-sm m-auto text-3xl space-y-2 remote-container">
                <div class="flex flex-col items-center h-full w-full bg-dark-full rounded-xl m-auto space-y-4 py-4 opacity-80  overflow-auto scrollbar-hide"  style="max-height: 750px;">
                    <div class="flex flex-row w-full h-full items-center">
                        <button><fa-icon [icon]="['fas', 'align-left']" class="button-primary" (click)="onInputMenu()"></fa-icon></button>
                        <button><fa-icon [icon]="['fas', 'home']" class="button-primary" (click)="onInputHome()"></fa-icon></button>
                        <button><fa-icon [icon]="['fas', 'info-circle']" class="button-primary" (click)="onInputInfo()"></fa-icon></button>
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="flex flex-row w-full h-full items-center">
                            <button><fa-icon [icon]="['fas', 'volume-down']" class="button-primary" (click)="onInputVolumeDown()"></fa-icon></button>
                            <button></button>
                            <button><fa-icon [icon]="['fas', 'volume-up']" class="button-primary" (click)="onInputVolumeUp()"></fa-icon></button>
                        </div>
                        <div [ngClass]="{'opacity-100' : displayVolumeBar}" class="relative pt-1 w-full px-8 mt-2 opacity-0 transition-opacity duration-100">
                            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200">
                            <div [ngStyle]="{'width': application.volume + '%'}" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500"></div>
                            </div>
                        </div>
                    </div>
                    <div class="w-9/12">
                        <div class="aspect-w-4 aspect-h-3 text-4xl">
                            <div class="flex flex-col items-center w-full h-full">
                        
                                <div class="flex flex-row w-full h-full items-center">
                                    <button></button>
                                    <button><fa-icon [icon]="['fas', 'sort-up']" class="button-primary" (click)="onInputUp()"></fa-icon></button>
                                    <button></button>
                                </div>
                        
                                <div class="flex flex-row w-full h-full items-center">
                                    <button><fa-icon [icon]="['fas', 'caret-left']" class="button-primary" (click)="onInputLeft()"></fa-icon></button>
                                    <button><fa-icon [icon]="['fas', 'dot-circle']" class="button-primary" (click)="onInputSelect()"></fa-icon></button>
                                    <button><fa-icon [icon]="['fas', 'caret-right']" class="button-primary" (click)="onInputRight()"></fa-icon></button>
                                </div>
                        
                                <div class="flex flex-row w-full h-full items-center">
                                    <button></button>
                                    <button><fa-icon [icon]="['fas', 'sort-down']" class="button-primary" (click)="onInputDown()"></fa-icon></button>
                                    <button></button>
                                </div>
                            </div>
                        </div>
                    </div>       
                
                    <div class="flex flex-row w-full h-full items-center">
                        <button><fa-icon [icon]="['fas', 'arrow-left']" class="button-primary" (click)="onInputBack()"></fa-icon></button>
                        <button></button>
                        <button><fa-icon [icon]="['fas', 'bars']" class="button-primary" (click)="onInputContextMenu()"></fa-icon></button>
                    </div>    
                    
                </div>                
            </div>
            
        </div>
    </div>
</div>
