<div (click)="clickBg($event)" class="w-screen h-screen overflow-auto z-40 float-left top-0 bottom-0 fixed back bg-opacity-80 bg-dark-full">
    <div class="z-50 opacity-100 relative m-auto sm:rounded-lg bg-dark-full w-full sm:my-8 sm:w-11/12 md:w-5/6 lg:w-4/6 xl:w-7/12 custom-modal sm:border border-dark-gray">
        <div class="h-96 w-full">
            <div class="flex items-end w-full h-full relative">

                <div class="absolute top-3 right-3 z-20">
                    <button *ngIf="isLoaded" (click)="toggleEdit()" class="p-3 mr-2 rounded-full transition-opacity cursor-pointer text-dark-full font-semibold" [ngClass]="{'bg-white': edit, 'bg-gray-300': !edit}"><fa-icon class="mr-2" [icon]="['fas', 'edit']"></fa-icon><span translate="library.details.edit"></span></button>
                    <button  (click)="close()" class="p-3 rounded-full opacity-80 hover:opacity-100 transition-opacity cursor-pointer bg-dark-full w-12"><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
                </div>


                <div class="z-10 absolute w-full h-full bg-black opacity-20 sm:rounded-t-lg"></div>

                <img *ngIf="fanartUrl!=''" class="h-96 z-0 min-w-full object-cover absolute opacity-100 sm:rounded-lg" src="{{fanartUrl}}" loading="lazy" >
                <div class="z-10 absolute w-full overflow-hidden bg-gradient-to-b from-transparent to-dark-full">
                    <div class="px-4 sm:px-8 pb-8">
                        <p class="pb-4 text-4xl font-bold text-shadow-lg">{{media.title}}</p>
                    </div>
                </div>
            </div>
        </div>

       <div class="p-4 sm:px-8">
            <div *ngIf="!isLoaded && !edit" class="flex flex-col w-full my-4">
                <div *ngFor="let number of [0,1,2]" [ngClass]="{'w-full' : number<2, 'w-9/12' : number==2}" class="data-placeholder rounded-sm mb-2 h-4 overflow-hidden relative bg-gray-500">
                </div>
            </div>

            <div *ngIf="!edit" @openClose>
                <p *ngIf="isLoaded" class="text-md text-justify my-4">{{media.plot}}</p>
            </div>

            <div *ngIf="edit" @openClose>
                <app-movie-set-edit [movie]="$any(media)" [isLoaded]="isLoaded"></app-movie-set-edit>
            </div>


            <app-library-row-medias @openClose [title]="'Movies'" [medias]="collectionMoviesArray"></app-library-row-medias>
       </div>
    </div>
</div>
