<h3 class="settings-title" translate="settings.contribute.contribute"></h3>
<div class="bg-dark-gray rounded-lg w-full px-4">
    
    <div class="settings-section flex flex-col justify-items-center text-center">
        <fa-icon class="text-primary text-8xl m-auto mt-12" [icon]="['fas', 'gift']"></fa-icon>

        <p class="md:w-1/3 m-auto mt-12 text-lg" translate="settings.contribute.t1"></p>
        <p class="md:w-1/3 m-auto mt-8 text-lg" translate="settings.contribute.t2"></p>
        <p class="md:w-1/3 m-auto mt-8 text-lg" translate="settings.contribute.t3"></p>

        <p class="my-8 text-lg"><a href="#" target="_blank" class="bg-blue-500 rounded-lg px-4 py-2 my-2 hover:opacity-80 transition-opacity duration-300" translate="settings.contribute.makeGift"></a></p>


    </div>
</div>
