<div #scrollElement class="flex overflow-auto scrollbar-hide space-x-4 mt-4 sm:mt-0" (mousedown)="mouseDown = true; treeshold = 10" (mousemove)="onMouseMove($event)">

    <a [ngClass]="{'text-primary':isPage('directors')}" (click)="navigate('directors')" class="button-library-section">
        <i class="fas fa-users sm:text-xl"></i>
        <p class="text-lg font-semibold" translate="library.directors"></p>
    </a>
    <a [ngClass]="{'text-primary':isPage('writers')}" (click)="navigate('writers')" class="button-library-section">
        <i class="fas fa-users sm:text-xl"></i>
        <p class="text-lg font-semibold" translate="library.writers"></p>
    </a>
    <a [ngClass]="{'text-primary':isPage('actors')}" (click)="navigate('actors')" class="button-library-section">
        <i class="fas fa-users sm:text-xl"></i>
        <p class="text-lg font-semibold" translate="library.actors"></p>
    </a>
    <a [ngClass]="{'text-primary':isPage('years')}" (click)="navigate('years')" class="button-library-section">
        <i class="fas fa-clock sm:text-xl"></i>
        <p class="text-lg font-semibold" translate="library.years"></p>
    </a>
    <a routerLink="/search" class="button-library-section">
        <i class="fas fa-search sm:text-xl"></i>
        <p class="text-lg font-semibold" translate="header.search.search"></p>
    </a>
</div>