<div class="border-t-2 mt-2 border-dark-gray p-4 pb-2 space-y-4">
    <div class="flex w-full items-center space-x-6 group pb-2">
        <label class="font-semibold text-lg">{{ episode.episode }}.</label>
        <div class="sm:flex items-center space-x-0 sm:space-x-6 text-center sm:text-left w-full sm:w-auto flex-grow">
            <div class="w-52 m-auto relative">
                <img *ngIf="imgUrl != ''" class="w-full rounded-lg m-auto" src="{{imgUrl}}" loading="lazy">
                <div (click)="playEpisode($event)" class="absolute flex justify-center items-center w-full rounded-lg opacity-0 group-hover:opacity-40 bg-dark-full h-full top-0 transition-opacity duration-300 cursor-pointer">
                    <div class=" text-center flex text-4xl rounded-full border-white border w-16 h-16 items-center justify-center">
                        <i class="fas fa-play pl-1 text-3xl"></i>
                    </div>
                </div>
            </div>
            <div class="mt-4 w-full sm:mt-0">
                <div (click)="playEpisode($event)" class="font-semibold text-lg mb-2 cursor-pointer w-full">
                    {{ episode.title }} 
                    <button (click)="setWatched(episode.playcount==0)" class="button-media-watched z-30" title="{{ episode.playcount!=0 ? ('library.details.watched' | translate) : 'library.details.unwatched' | translate}}">
                        <div *ngIf="episode.playcount!=0">
                            <i class="fas fa-check ml-2 toggle-watched"></i>
                        </div>
                        <div *ngIf="episode.playcount==0">
                            <i class="fas fa-eye-slash ml-2 no-play"></i>
                        </div>
                    </button>
                </div>
                <p class="text-sm text-gray-300 text-justify w-full">{{ episode.plot }}</p>
            </div>     
        </div>
    </div>


   
    <div class="w-full text-center flex flex-col sm:flex-row justify-evenly space-y-4 sm:space-y-0">
        <a href="{{ downloadUrl }}" class="custom-button" download><i class="fas fa-download mr-2"></i>{{ 'library.details.download' | translate }}</a>
        <button *ngIf="downloadUrl != ''" @openClose (click)="streamLink()" class="transition-colors cursor-pointer text-gray-300 hover:text-white text-base"><i class="fab fa-chromecast mr-4"></i>{{ 'library.details.getStreamingLink' | translate }}</button>
        <button (click)="toogleMoreInfo()" class="transition-colors cursor-pointer text-gray-300 hover:text-white text-base">{{ !moreInfo ? ("library.details.moreinfo" | translate) : "library.details.lessinfo" | translate }} </button>
    </div>

    <!-- More info -->
    <div @heightAnimation *ngIf="moreInfo" class="w-full overflow-auto scrollbar-hide border border-dark-gray rounded-xl px-4 py-2">
        <p class="font-bold mb-2" translate="library.details.additionalInformation"></p>
        <div *ngIf="fileDetails" class="text-gray-200 w-full">
            <p><span class="text-gray-500">{{ 'library.details.size' | translate }} </span>{{ getSize(fileDetails.size ?? 0) }} Go</p>
            <p><span class="text-gray-500">{{ 'library.details.file' | translate }} </span>{{ episode.file }}</p>
            <p><span class="text-gray-500">{{ 'library.details.dateadded' | translate }} </span>{{ fileDetails.dateadded }}</p>
        </div>
    </div>
    
</div>
