<h3 class="settings-title" translate="settings.general.general"></h3>
    
<div class="bg-dark-gray rounded-lg w-full px-4">
    <div class="settings-section">
        <div class="settings-subsection">
            <label class="font-semibold" translate="settings.general.language"></label>

            <select class="bg-dark-full text-white px-2 py-2 rounded-xl cursor-pointer" #selectedLang (change)="switchLang(selectedLang.value)">
                <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                {{ language }}
                </option>
            </select>
        </div>
        <div class="settings-subsection">
            <label class="font-semibold" translate="settings.general.musicsDefaultPlayer"></label>

            <select class="bg-dark-full text-white px-2 py-2 rounded-xl cursor-pointer" #selectedMusicsDefaultPlayer (change)="switchMusicsDefaultPlayer(selectedMusicsDefaultPlayer.value)">
                <option [value]="'internal'" [selected]="application.musicsDefaultPlayer === 'internal'" translate="library.musicsView.internalPlayer"></option>
                <option [value]="'kodi'" [selected]="application.musicsDefaultPlayer === 'kodi'">Kodi</option>
            </select>
        </div>
    </div>
</div>