<h3 class="settings-title" translate="settings.general.general"></h3>
<div class="bg-dark-gray rounded-lg w-full px-4">
    <div class="settings-section">
        <!-- Language -->
        <div class="settings-subsection">
            <label class="font-semibold" translate="settings.general.language"></label>
            <select class="bg-dark-full text-white px-2 py-2 rounded-xl cursor-pointer" #selectedLang (change)="switchLang(selectedLang.value)">
                <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                {{ language }}
                </option>
            </select>
        </div>
        <!-- Player -->
        <div class="settings-subsection">
            <label class="font-semibold" translate="settings.general.musicsDefaultPlayer"></label>

            <select class="bg-dark-full text-white px-2 py-2 rounded-xl cursor-pointer" #selectedMusicsDefaultPlayer (change)="switchMusicsDefaultPlayer(selectedMusicsDefaultPlayer.value)">
                <option [value]="'internal'" [selected]="application.musicsDefaultPlayer === 'internal'" translate="library.musicsView.internalPlayer"></option>
                <option [value]="'kodi'" [selected]="application.musicsDefaultPlayer === 'kodi'">Kodi</option>
            </select>
        </div>
        <!-- Vibrate -->
        <div class="settings-subsection">
            <div class="text-center sm:text-left">
                <p class="font-semibold" translate="settings.general.vibrate"></p>
                <p class="font-thin" translate="settings.general.mayNotWorkDevice"></p>
            </div>
            
            <div class="flex items-center space-x-4 flex-col">
                <input type="range" min="0" max="80" [value]="vibrate" #ref (change)="vibrateChange(ref.value)">
                <span>{{ vibrate != 0 ? vibrate + "ms" : ("settings.general.vibrationOff" | translate) }}</span>
            </div>
        </div>
          <!-- Vibrate -->
        <div class="settings-subsection">
            <div class="text-center sm:text-left">
                <p class="font-semibold" translate="settings.general.vibrate"></p>
                <p class="font-thin" translate="settings.general.restart"></p>
            </div>
            
            <div class="flex items-center justify-right space-x-4 flex-col">
                <button (click)="restartKodi()" class="bg-red-500 rounded-lg px-4 py-2 mx-4 my-2 hover:opacity-80 transition-opacity duration-300">{{ 'settings.general.restart' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<h3 class="settings-title mt-4" translate="settings.general.libraries"></h3>
<div class="bg-dark-gray rounded-lg w-full px-4">
    <h5 class="text-xl pt-4" translate="library.videoLibrary"></h5>
    <div class="settings-section flex flex-col sm:flex-row justify-items-center text-center">
        <button (click)="scanVideoLibrary()" class="bg-primary rounded-lg px-4 py-2 mx-4 my-2 hover:opacity-80 transition-opacity duration-300" translate="settings.general.scanVideoLibrary"></button>
        <button (click)="cleanVideoLibrary()" class="bg-primary rounded-lg px-4 py-2 mx-4 my-2 hover:opacity-80 transition-opacity duration-300" translate="settings.general.cleanVideoLibrary"></button>
    </div>

    <h5 class="text-xl pt-4" translate="library.audioLibrary"></h5>
    <div class="settings-section flex flex-col sm:flex-row justify-items-center text-center">
        <button (click)="scanAudioLibrary()" class="bg-primary rounded-lg px-4 py-2 mx-4 my-2 hover:opacity-80 transition-opacity duration-300" translate="settings.general.scanAudioLibrary"></button>
        <button (click)="cleanAudioLibrary()" class="bg-primary rounded-lg px-4 py-2 mx-4 my-2 hover:opacity-80 transition-opacity duration-300" translate="settings.general.cleanAudioLibrary"></button>
    </div>
</div>

<h3 class="settings-title mt-4" translate="settings.general.application"></h3>
<div class="bg-dark-gray rounded-lg w-full px-4">
    <div class="settings-section flex flex-col sm:flex-row justify-items-center text-center">
        <button (click)="resetApp()" class="bg-red-500 rounded-lg px-4 py-2 mx-4 my-2 hover:opacity-80 transition-opacity duration-300" translate="settings.general.resetApp"></button>
        <button (click)="refreshTranslation()" class="bg-red-500 rounded-lg px-4 py-2 mx-4 my-2 hover:opacity-80 transition-opacity duration-300" translate="settings.general.refreshTranslation"></button>
    </div>
    <p class="mx-4 pb-4" translate="settings.general.translationIssues"></p>
    <hr>
    <div class="settings-section ">
       <p class="mb-4"><span translate="settings.general.currentVersion"></span> {{ version }}</p>
       <a href="https://github.com/clementdelestre/TeX/releases"  target="_blank" class="bg-blue-500 rounded-lg px-4 py-2 my-2 hover:opacity-80 transition-opacity duration-300" translate="settings.general.checkUpdates"></a>
    </div>
</div>