

<app-header></app-header>

<router-outlet></router-outlet>

<app-remote class="sm:hidden fixed bottom-0 left-0 w-screen h-screen z-40" @modalAnimationReverse *ngIf="application.openRemote"></app-remote>
<app-remote class="fixed bottom-0 left-0 w-screen h-screen hidden sm:block z-40" @modalAnimation *ngIf="application.openRemote"></app-remote>

<app-media-informations class="fixed bottom-0 left-0 w-screen h-screen sm:block z-40" @modalAnimation *ngIf="application.openMovieDetails || application.openTVShowDetails"></app-media-informations>
<app-movie-set-informations class="fixed bottom-0 left-0 w-screen h-screen sm:block z-40" @modalAnimation *ngIf="application.openMovieSetDetails"></app-movie-set-informations>
<app-notifications></app-notifications>
