<div #scrollElement class="flex overflow-auto scrollbar-hide space-x-4 mt-4 sm:mt-0" (mousedown)="mouseDown = true; treeshold = 10" (mousemove)="onMouseMove($event)">


    <a  *ngFor="let item of items" [ngClass]="{'text-primary':isPage(item.page)}" (click)="navigate(item.page)" class="button-library-section">
        <i class="fas sm:text-xl {{ item.icon }}"></i>
        <p class="text-lg font-semibold" [translate]="item.title"></p>
    </a>

    <a *ngIf="searchPageButton" routerLink="/search" class="button-library-section">
        <i class="fas fa-search sm:text-xl"></i>
        <p class="text-lg font-semibold" translate="header.search.search"></p>
    </a>
</div>